<h1>Login</h1>

<div ng-if="persona.loggedUser">
    <h3>Logged in as {{persona.loggedUser.email}}</h3>
    <label>Student Email</label>
    <input type="text" ng-model="StudentProfile.email"/>
    <button ng-click="StudentProfile.save()">Save</button>
</div>

<persona-login ng-if="!persona.loggedUser">
    <md-button class="md-button md-deep-orange-theme">Login</md-button>
</persona-login>

<br>
<br>
<persona-logout ng-if="persona.loggedUser">
    <md-button class="md-button md-deep-red-theme">Logout</md-button>
</persona-logout>